$breakpoints: (
    'sm': 'screen and (max-width: 767px)',
    'md': 'screen and (min-width: 768px)',
    ) !default;

@mixin mq($breakpoint: md) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

.contactContainer {
    width: 100%;
    border-radius: 10px;
    padding: 20px 0px;
    background-color: var(--color-sub-background);

.contact {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;

    h3 {
        color: var(--color-primary-font);
        font-size: medium;
        margin-top: 10px;
    }

    input {
        padding: 12px 30px;
        margin: 8px 0;
        display: inline-block;
        border: 2px solid var(--color-primary-border);
        border-radius: 4px;
        background-color: transparent;
        color: var(--color-primary-button);
        font-size: medium;
    }

    input:focus {
        outline: none;
    }

    textarea {
        padding: 12px 30px;
        height: 200px;
        margin: 8px 0;
        display: inline-block;
        border: 2px solid var(--color-primary-border);;
        border-radius: 4px;
        background-color: transparent;
        color: var(--color-primary-button);
        font-size: large;
    }

    textarea:focus {
        outline: none;
    }

    .submitContainer {
        display: flex;
        justify-content: flex-end;
        position: relative;

        .submitBtn {
            border: none;
            background-color: var(--color-primary-button);
            color: var(--color-primary-font);
            border-radius: 10px;
        }

        .loading {
            width: 0px;
            height: 0px;
            padding: 0px;
            -webkit-transition: all 0.2s linear;
            -moz-transition: all 0.2s linear;
            transition: all 0.2s linear;
        }

        .spinner {
            animation: rotate 2s linear infinite;
            margin: 0 0 0 -25px;
            width: 30px;
            height: 30px;

            & .path {
                stroke: hsl(210, 70, 75);
                stroke-linecap: round;
                animation: dash 1.5s ease-in-out infinite;
            }

        }

        @keyframes rotate {
            100% {
                transform: rotate(360deg);
            }
        }

        @keyframes dash {
            0% {
                stroke-dasharray: 1, 150;
                stroke-dashoffset: 0;
            }

            50% {
                stroke-dasharray: 90, 150;
                stroke-dashoffset: -35;
            }

            100% {
                stroke-dasharray: 90, 150;
                stroke-dashoffset: -124;
            }
        }

    }
}

.hello {
    position: fixed;
    left: 5%;
    bottom: 70px;
    max-width: 50%;
    flex-direction: column;
    z-index: 500;
    @include mq(sm) {
        left: 3%;
    }

    .message {
        display: flex;
        position: relative;
        padding: 3px 10px;
        border-radius: 10px;
        background-color: rgb(0, 86, 87);
        color: rgb(224, 224, 226);
        margin-bottom: 10px;
        width: fit-content;
        animation: shake 0.5s linear, scale 0.3s linear;
    }

    .message::before {
        position: absolute;
        content: '';
        border: 10px solid transparent;
        border-top: 10px solid rgb(0, 86, 87);
        border-top-left-radius: 5px;
        left: -9px;
        bottom: -6px;
    }

    .messageBody {
        word-break: break-all;
        overflow-wrap: anywhere;
        font-size: medium;
    }

    @keyframes shake {
        0% {
            transform: translate(1px, 1px) rotate(0deg);
        }

        10% {
            transform: translate(-1px, -2px) rotate(-1deg);
        }

        20% {
            transform: translate(-3px, 0px) rotate(1deg);
        }

        30% {
            transform: translate(3px, 2px) rotate(0deg);
        }

        40% {
            transform: translate(1px, -1px) rotate(1deg);
        }

        50% {
            transform: translate(-1px, 2px) rotate(-1deg);
        }

        60% {
            transform: translate(-3px, 1px) rotate(0deg);
        }

        70% {
            transform: translate(3px, 1px) rotate(-1deg);
        }

        80% {
            transform: translate(-1px, -1px) rotate(1deg);
        }

        90% {
            transform: translate(1px, 2px) rotate(0deg);
        }

        100% {
            transform: translate(1px, -2px) rotate(-1deg);
        }
    }

    @keyframes scale{
        0% {
            transform: scale(25%);
        }

        50% {
            transform: scale(50%);
        }

        90% {
            transform: scale(25%);
        }

        100% {
            transform: scale(0%);
        }
    }
}

}