.navbar {
    left: 0;
    height: 56px;
    background-color: rgb(32, 32, 35);
    z-index: 2000;
}

.navbar-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.navbar-element-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 768px;
    height: auto;
    padding: 5px;
}

.snorlax {
    width: 30px;
    height: 30px;

}

.name {
    color: aliceblue;
    display: flex;
    align-items: center;
    height: auto;
}

.name h1 {
    font-weight: bold;
    font-size: larger;
    margin-left: 5px;
}

.button-container {
    display: flex;
    align-items: center;
}

.button-wrapper {
    display: flex;
    align-items: center;
    height: auto;
}

.earth {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

/* Style The Dropdown Button */
.dropbtn {
    background-color: transparent;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(32, 32, 35);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 1px;
    border-radius: 5px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: rgb(49, 49, 52)
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {

}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 26px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 23px;
    width: 23px;
    left: 2px;
    bottom: 1.5px;
    background-color: darkgrey;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: rgb(49, 49, 52);
}

input:focus+.slider {
    box-shadow: 0 0 1px rgb(49, 49, 52);
}

input:checked+.slider:before {
    -webkit-transform: translateX(23px);
    -ms-transform: translateX(23px);
    transform: translateX(23px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.sun {
    width: 20px;
    height: 20px;
}

.sun:before {
    content: "";
    background-image: url(../public/dark-mode-sun.svg);
    position: absolute;
    width: 18px;
    height: 18px;
    top: 3.8px;
    left: 4px;
}

.moon {
    width: 18px;
    height: 18px;
}

.moon:before {
    content: "";
    background-image: url(../public/dark-mode-moon.svg);
    position: absolute;
    width: 16px;
    height: 16px;
    top: 5px;
    left: 28.5px;
}

@media only screen and (max-width: 767px) {
    .navbar {
        position: fixed;
        bottom: 0;
        width: 100%;
    }
    .dropdown-content {
        bottom: 43px;
        left: -50px;
    }
}

@media only screen and (min-width: 768px) {
    .navbar {
        position: -webkit-sticky;
        position: sticky;
        float: inherit;
        top: 0;
    }
}