$breakpoints: (
    'sm': 'screen and (max-width: 767px)',
    'md': 'screen and (min-width: 768px)',
    ) !default;

@mixin mq($breakpoint: md) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}
.workContainer{
    height:300px;
    width: 100%;
    border-radius: 10px;
    background-color: var(--color-sub-background);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    @include mq(sm) {
        height: auto;
        padding: 15px 0;
    }
}
.work {
    display: flex;
    justify-content: left;
    position: relative;
    width: 80%;
    height: 80%;

    .pic {
        position: relative;
        width: 52%;
        height: 80%;
        background-color: aqua;
        border-radius: 10px;
        margin-right: 20px;

        @include mq(sm) {
            width: 90%;
            height: 200px;
            max-width: 300px;
            max-height: 200PX;
            margin: auto;
        }
    }

    h1{
        text-decoration: none !important;
        font-weight: 400;
        padding: 0% !important;
    }
    .detail{
        display: flex;
        flex-direction: column;  
        justify-content: space-between;
        height: 80%;
        .description{
            width: 100%;

            @include mq(sm) {
                margin-top: 5px;
            }
        }

        .buttonRow{
            width: 100%;
            height: 50px;
            display: flex;
            align-items: flex-end;
            .btn {
                text-decoration: none;
                color: var(--color-primary-font);
                background-color: var(--color-primary-button);
                width: 100px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 10px;
            }
            @include mq(sm) {
                width: 90%;
                margin-top: 5px;
                align-items: center;
            }
        }

        @include mq(sm) {
            width: 90%;
            max-width: 300px;
            margin: auto;
            margin-top: 10px;
        }
    }

    @include mq(sm) {
        flex-direction: column;
        width: 90%;
    }
}
